{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "portfolioapp/style.css" %}"/>

    <!-- Title -->
    <title>Investment Manager</title>

</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-sm-2">
        <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 themed-bg overflow-hidden custom-sm-border">
            <div class="row justify-content-center">
                <div class="col-auto text-white mb-1 mt-2">
                    <h2>Investment Manager</h2>
                </div>
            </div>
            <div class="row pt-0 pb-2 px-2">
                <div class="col rounded bg-white p-3">

                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript plugins -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static "vendor/jquery/jquery-3.6.0.min.js" %}"></script>
<script src="https://kit.fontawesome.com/b895e44baa.js" crossorigin="anonymous"></script>

<!-- Page-specific scripting -->
{% block scripts %}{% endblock %}
</body>
</html>