{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "portfolioapp/style.css" %}"/>

    <!-- Title -->
    <title>Investment Portfolio Application</title>

    <!-- Scripts -->
    <script src="{% static "vendor/jquery/jquery-3.6.0.min.js" %}"></script>

</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-sm-2">
        <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 bg-primary overflow-hidden custom-sm-border">
            <div class="row justify-content-center">
                <div class="col-auto text-white mb-1 mt-2">
                    <h2>Investment Management</h2>
                </div>
            </div>
            <div class="row pt-0 pb-2 px-2">
                <div class="col rounded bg-white p-3">

                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
            <div class="row px-2">
                <div class="px-3 pt-2 bg-light rounded">
                    <h2>Limitations</h2>
                    <p>
                        This application is a student project that depends on a free, but limited, email server.
                        Consequently, verification and password reset emails can only be sent to already whitelisted email addresses.
                    </p>
                    <p>
                        If you require your email to be whitelisted, don't hesitate to contact the developer at
                        <a href="mailto:b00289028@studentmail.uws.ac.uk">b00289028@studentmail.uws.ac.uk</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}{% endblock %}

<!-- JavaScript plugins -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/b895e44baa.js" crossorigin="anonymous"></script>

</body>
</html>