{% extends "registration/base.html" %}

{% block content %}

        <div class="row gx-2 gy-2">
            <div class="col-md-6">
                <div class="bg-white rounded p-2">
                    <h5>Existing User Login:</h5>
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <!-- CSS left property is overwritten to correct a positioning issue -->
                            <label for="{{ form.username.id_for_label }}" style="left: auto">Email</label>
                        </div>
                        <div class="form-floating">
                            {{ form.password }}
                            <!-- CSS left property is overwritten to correct a positioning issue -->
                            <label for="{{ form.password.id_for_label }}" style="left: auto">Password</label>
                        </div>
                        <div class="row justify-content-center text-nowrap">
                            <div class="col-auto mt-2">
                                <a class="btn btn-secondary" href="{% url 'password_reset' %}">Forgotten password?</a>
                            </div>
                            <div class="col-auto mt-2">
                                <input class="btn btn-primary" type="submit" value="Login">
                            </div>
                        </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password1 }}
                        {{ form.password2 }}
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white rounded p-2">
                    <hr class="d-md-none">
                    <h5>New Here? Register for free:</h5>
                    <form>

                    </form>
                </div>
            </div>
        </div>

{% endblock %}


{% block scripts %}

    <script>
        // Manual override of the 'username' form field to implement Bootstrap formatting
        description_input_element = document.getElementById("{{ form.username.id_for_label }}");
        description_input_element.classList.add("form-control");
        description_input_element.placeholder = "Username";

        // Manual override of the 'password' form field to implement Bootstrap formatting
        description_input_element = document.getElementById("{{ form.password.id_for_label }}");
        description_input_element.classList.add("form-control");
        description_input_element.placeholder = "Password";
    </script>

{% endblock %}