@use "sass:map";

$primary: #55709f;
$light: #D6EDFF;

@import "../vendor/bootstrap/scss/bootstrap";

@include media-breakpoint-up(sm) {
  .custom-sm-border {
    border-radius: 4px;
  }
}

#body-with-nav-above {
  margin-top: 100px;
}

// Themed background gradient
.themed-bg {
  background: linear-gradient(40deg, #24c9d5 0px, #766fb4 100%);
}