{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "portfolioapp/style.css" %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Title -->
    <title>Investment Manager</title>


</head>
<body id="body-with-nav-above">

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light pt-0">
    <div class="container-sm">
        <div class="navbar-brand mt-2 px-3 pt-1 rounded rounded-pill themed-bg">
            <span class="text-white">Investment Manager</span>
        </div>
        <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse mt-2 navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "portfolioapp:overview" %}" id="overview-link">
                        <span class="">Overview</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-primary text-white pb-2">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-auto mt-2">
                    <div class="mt-1">
                        <span class="opacity-75">User:</span>&nbsp;
                        {{ request.user.email }}
                    </div>
                </div>
                <div class="col-auto mt-2">
                    <a class="btn bg-white bg-opacity-50 pt-1" href="{% url "account_logout" %}">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-auto mt-2">
                    <div class="mt-1">
                        <span class="opacity-75">Selected Portfolio:</span>&nbsp;
                        {% if request.user.get_selected_portfolio %}
                            {{ request.user.get_selected_portfolio.name }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
                <div class="col-auto mt-2">
                    {% block portfolio_button %}
                        <a class="btn bg-white bg-opacity-50 pt-1" href="{% url "portfolioapp:portfolio_list" %}"
                           id="portfolioButton">
                            All Portfolios
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container overflow-hidden">

    {% block content %}{% endblock %}

</div>

<!-- JavaScript plugins -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static "vendor/jquery/jquery-3.6.0.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://kit.fontawesome.com/b895e44baa.js" crossorigin="anonymous"></script>

<!-- Page-specific scripting -->
{% block scripts %}{% endblock %}

</body>
</html>