{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "portfolioapp/style.css" %}"/>

    <!-- Title -->
    <title>Investment Manager</title>

    <!-- Scripts -->
    <script src="{% static "vendor/jquery/jquery-3.6.0.min.js" %}"></script>

</head>
<body id="body-with-nav-above">

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white bg-opacity-75">
    <div class="container-sm">
        <div class="navbar-brand px-3 pt-1 rounded rounded-pill themed-bg">
            <span class="text-white">Investment Manager</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "portfolioapp:home" %}" id="home-link">
                        <span class="bg-white bg-opacity-75 py-1 px-2 rounded">Track</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="manage-link">
                        <span class="bg-white bg-opacity-75 py-1 px-2 rounded">Manage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "account_logout" %}">
                        <span class="bg-white bg-opacity-75 py-1 px-2 rounded text-dark">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {% block content %}{% endblock %}

</div>

{% block scripts %}{% endblock %}

<!-- JavaScript plugins -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/b895e44baa.js" crossorigin="anonymous"></script>

</body>
</html>