{% extends "portfolioapp/base.html" %}

{% block content %}

    <div class="row mt-2 gx-5">
        <h1>Portfolios</h1>
        <p>Here you can select, rename and delete your portfolios.</p>
        <hr>
        <div class="col-lg-6">
            <h3>All Portfolios</h3>
            <span>Click to select a portfolio from the list:</span>
            {% if portfolio_list %}
                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Portfolio</th>
                                <th scope="col">Creation Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in portfolio_list %}
                                {% if p.selected == True %}
                                    <tr class="table-active">
                                        <td>
                                            {{ p.name }}&nbsp;
                                            <span class="badge bg-info custom-small-font">Selected</span>
                                        </td>
                                {% else %}
                                    <tr class="clickable-row"
                                        data-href="{% url "portfolioapp:portfolio_selector" p.name %}">
                                        <td>
                                            {{ p.name }}
                                        </td>
                                {% endif %}
                                        <td>
                                            {{ p.creation_date.date }}
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>You have no portfolios.</p>
            {% endif %}
            <a class="btn btn-primary mb-3" href="#">Create new portfolio</a>
        </div>
        <div class="col-lg-6 mx-0">
            <h3>Selected Portfolio</h3>
            <div class="col rounded bg-light p-3">

                <dl class="row">
                    <dt class="col-4">Name</dt>
                    <dd class="col-8">{{ request.user.get_selected_portfolio.name }}</dd>
                    <dt class="col-4">Created</dt>
                    <dd class="col-8">{{ request.user.get_selected_portfolio.creation_date }}</dd>
                </dl>
                <div class="row gx-3 justify-content-end">
                    <div class="col-auto mt-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#rename-portfolio-modal">
                            Rename
                        </button>
                    </div>
                    <div class="col-auto mt-2">
                        <a href="#"
                            class="btn btn-danger">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for renaming the selected portfolio -->
    <div class="modal" id="rename-portfolio-modal" tabindex="-1" aria-labelledby="rename-portfolio-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rename-portfolio-modal-label">Rename Portfolio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "portfolioapp:portfolio_list" %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}

                        <div class="mb-2">
                            <label for="RenameCurrentName">Current name</label>
                            <input type="text" class="form-control" id="RenameCurrentName"
                                   value="{{ request.user.get_selected_portfolio.name }}" disabled>
                        </div>
                        {{ portfolio_rename_form.portfolio_rename_new_name.errors }}
                        <div class="mb-2">
                            <label for="{{ portfolio_rename_form.portfolio_rename_new_name.id_for_label }}">
                                New name
                            </label>
                            {{ portfolio_rename_form.portfolio_rename_new_name }}
                            <div id="portfolio_rename_desc" class="form-text">
                                The portfolio name can be up to 50 characters long.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Submit" class="btn btn-primary" >
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function () {

        // Show the portfolio rename modal if the form has errored
        {% if portfolio_rename_form.portfolio_rename_new_name.errors %}
          var renamePortfolioElem = document.getElementById("rename-portfolio-modal");
          var renamePortfolioModal = new bootstrap.Modal(renamePortfolioElem, {});
          renamePortfolioModal.show();
        {% endif %}

        // Manual override of the 'portfolio_rename_new_name' form field to implement Bootstrap formatting
        var portfolio_rename_new_name_elem = document.getElementById("{{ portfolio_rename_form.portfolio_rename_new_name.id_for_label }}");
        portfolio_rename_new_name_elem.classList.add("form-control");
        portfolio_rename_new_name_elem.setAttribute("aria-describedby", "portfolio_rename_desc");
      });

      // Make the rows in the table clickable using jQuery
      jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
          window.location = $(this).data("href");
        });
      });

    </script>

{% endblock %}