{% extends "portfolioapp/base.html" %}

{% block content %}

    <div class="row">
        <div class="col">
            <h1>Track</h1>
            <p>There will be performance info about the selected portfolio here.</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
      // Set the navbar home link to active
      description_input_element = document.getElementById("track-link");
      description_input_element.classList.add("active");
    </script>

{% endblock %}